/*----   FONTS   ----*/
@font-face {
    font-family: 'camptonblack';
    src: url('fonts/campton_black-webfont.eot');
    src: url('fonts/campton_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/campton_black-webfont.woff2') format('woff2'),
         url('fonts/campton_black-webfont.woff') format('woff'),
         url('fonts/campton_black-webfont.ttf') format('truetype'),
         url('fonts/campton_black-webfont.svg#camptonblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'campton_bookbold';
    src: url('fonts/campton_bold-webfont.eot');
    src: url('fonts/campton_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/campton_bold-webfont.woff2') format('woff2'),
         url('fonts/campton_bold-webfont.woff') format('woff'),
         url('fonts/campton_bold-webfont.ttf') format('truetype'),
         url('fonts/campton_bold-webfont.svg#campton_bookbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'camptonbook';
    src: url('fonts/campton_book-webfont.eot');
    src: url('fonts/campton_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/campton_book-webfont.woff2') format('woff2'),
         url('fonts/campton_book-webfont.woff') format('woff'),
         url('fonts/campton_book-webfont.ttf') format('truetype'),
         url('fonts/campton_book-webfont.svg#camptonbook') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'camptonextrabold';
    src: url('fonts/campton_extrabold-webfont.eot');
    src: url('fonts/campton_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/campton_extrabold-webfont.woff2') format('woff2'),
         url('fonts/campton_extrabold-webfont.woff') format('woff'),
         url('fonts/campton_extrabold-webfont.ttf') format('truetype'),
         url('fonts/campton_extrabold-webfont.svg#camptonextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'camptonextralight';
    src: url('fonts/campton_extralight-webfont.eot');
    src: url('fonts/campton_extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/campton_extralight-webfont.woff2') format('woff2'),
         url('fonts/campton_extralight-webfont.woff') format('woff'),
         url('fonts/campton_extralight-webfont.ttf') format('truetype'),
         url('fonts/campton_extralight-webfont.svg#camptonextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'camptonlight';
    src: url('fonts/campton_light-webfont.eot');
    src: url('fonts/campton_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/campton_light-webfont.woff2') format('woff2'),
         url('fonts/campton_light-webfont.woff') format('woff'),
         url('fonts/campton_light-webfont.ttf') format('truetype'),
         url('fonts/campton_light-webfont.svg#camptonlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'camptonmedium';
    src: url('fonts/campton_medium-webfont.eot');
    src: url('fonts/campton_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/campton_medium-webfont.woff2') format('woff2'),
         url('fonts/campton_medium-webfont.woff') format('woff'),
         url('fonts/campton_medium-webfont.ttf') format('truetype'),
         url('fonts/campton_medium-webfont.svg#camptonmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'camptonsemibold';
    src: url('fonts/campton_semibold-webfont.eot');
    src: url('fonts/campton_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/campton_semibold-webfont.woff2') format('woff2'),
         url('fonts/campton_semibold-webfont.woff') format('woff'),
         url('fonts/campton_semibold-webfont.ttf') format('truetype'),
         url('fonts/campton_semibold-webfont.svg#camptonsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'camptonthin';
    src: url('fonts/campton_thin-webfont.eot');
    src: url('fonts/campton_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/campton_thin-webfont.woff2') format('woff2'),
         url('fonts/campton_thin-webfont.woff') format('woff'),
         url('fonts/campton_thin-webfont.ttf') format('truetype'),
         url('fonts/campton_thin-webfont.svg#camptonthin') format('svg');
    font-weight: normal;
    font-style: normal;

}