/*----------------------------*/
/*----------- Mixins-----------*/
/*----------------------------*/

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 10) * 1px;
	font-size: $sizeValue * 1rem;
}

@mixin line-height($sizeValue: 1) {
	line-height: ($sizeValue * 10) * 1px;
	line-height: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// 2x image mixin
@mixin background-image-retina($file, $type, $width, $height, $positionX: left, $positionY: top, $background-repeat: no-repeat) {
  background-image: url($file + '.' + $type);
  background-size: $width $height;
  background-position: $positionX $positionY;
  background-repeat: $background-repeat;
 
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
    & {
      background-image: url($file + '@2x.' + $type);
    }
  }
}

// @include background-image-retina('logo', 'png', 160px, 40px, right, top, repeat-x);


// RGBa with fallback
@mixin rgba($property, $background: black, $opacity: 0.75, $mix: white) {
    #{$property}: mix($background, $mix, $opacity * 100%);
    #{$property}: rgba($background, $opacity);
}

@function debug($content) {
    @return quote($content);
}

// @include rgba(background-color, black, 0.5, white);

// SVG Background img with fallback
@mixin svg-bg($name, $extension: png, $color: transparent, $position: 0 0, $background-size: 0 0, $repeat: no-repeat) {
  background: url(images/#{$name}.#{$extension}) $color $position $repeat;
  background: none, url(images/#{$name}.svg) $color $position $repeat;
  background-size: $background-size;
}

// @include svg-bg('graphic-name', $repeat: repeat,);

// Transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
//@include transition(color .3s ease);

