/*----------------------------*/
/*---------Variables ---------*/
/*----------------------------*/

// Variables defined here will be passed to bootstrap so place bootstrap vars here.
//New BS MQ for below 480px

//Fonts
$font-camptonblack: "camptonblack";
$font-campton_bookbold: "campton_bookbold";
$font-camptonbook:"camptonbook";
$font-camptonextrabold:"camptonextrabold";
$font-camptonextralight:"camptonextralight";
$font-camptonlight:"camptonlight";
$font-camptonmedium:"camptonmedium";
$font-camptonsemibold:"camptonsemibold";
$font-camptonthin:"camptonthin";

$color-primary: #000000;  // black
$color-secondary: #ffd200; //yellow 
$color-tertiary: #ffffff; //white
$color-teal: #00BFC0;

$font-main: $font-camptonlight, Arial, sans-serif;
$font-headings: $font-camptonblack,"Helvetica", Arial, sans-serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;
$font-line-height-pre: 1.6;





