/*
	Project: every birthdays
    Author: every1
    Revision: 0.1
    Date
*/

@import "structure";



body,
button,
input,
select,
textarea {
	color: #000000;
	font-family: $font-main;
	@include font-size(1.6);
	@include line-height(2.4);
	-webkit-font-smoothing: antialiased;
    font-weight: normal;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
	height:100%;
		background-color: #000000;
}

.body {
}

.wrapper {
	position: relative;
	height:auto;
	padding-left: 15px;
	padding-right: 15px;
}

.logo {
	width:120px;
	margin-top: 20px;
}
h1 {
	font-family: $font-camptonblack;
	@include font-size(2);
	@include line-height(2.2);
	text-transform: uppercase;
	color: $color-secondary;
	margin-top: 0;
}
h2 {
	position: absolute;
	top:115px;
	margin-bottom: 40px;
	text-align: left;
	color: $color-secondary;
	font-family: $font-camptonblack;
	@include font-size(2);
	@include line-height(2.2);
	left:15px;
	right:0;
	width:280px;
}
.yay {
	display: none;
	&.active {
		display: block;
	}
}

.show-btn {
	position: absolute;
	height: 55px;
	width: 55px;
	text-align: center;
	top:12px;
	right:20px;
	@include transition(all .3s ease-in-out);
	cursor: pointer;
	.circle{
		width:100%;
		border-radius:50%;
		text-align:center;
		padding:50% 0;
		line-height:0;
		position:relative;
		background-color: $color-teal;
		@include transition(all .3s ease-in-out);
		span {
			margin: 0 auto;
			display: block;
			@include font-size(.8);
			@include line-height(.7);
			font-family: $font-campton_bookbold;
			left: 3px;
			right: 3px;
			top: 17px;
			bottom: 0;
			position: absolute;
		}
	}

	&:hover
	 {
		transform: scale(1.2);
	}
	&:active,
	&:focus {
		transform: scale(1);
		.circle {
			background-color: $color-teal;
		}		
	}
}
.touchevents {
	.show-btn {
		
		@include transition(all .3s ease-in-out);
		transform: scale(1);

		&:active {
			transform: scale(1);
		}
		
		&.showall {
			transform: scale(1.2);

		}
	}
}

.birthdays {
	position: absolute;
	left:15px;
	right:0;
	margin-top:205px;
	text-align: left;
	&.got-birthdaytoday {
		margin-top: 340px;
		ul {
			li {
				&:first-child {
					display: block;
					.name {
					@include font-size(1.6);
					@include line-height(2.4);
					}
				}
				&:first-child {
					display: block;
					opacity: .3;
				}
				&:nth-child(2) {
					display: block;
					opacity: .2;
				}
				&:nth-child(3) {
					display: block;
					opacity: .1;
				}
				&:nth-child(4) {
					display: block;
					opacity: 0;
				}
				&:nth-child(5) {
					display: block;
					opacity: 0;
				}
				&.show {
					opacity: 1;
				}
			}
		}
	}
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			display: none;
			margin-bottom: 40px;
			@include transition(opacity .3s ease-in-out);
			.name, .date {
			    font-family: $font-camptonblack;
			    letter-spacing: 0.01em;
			    padding:0;
			    margin: 0;
			    font-weight: normal;
			    color: #ffffff;
			}
			.date {
				text-transform: uppercase;
				@include font-size(1.6);
				@include line-height(2.4);
				font-family: $font-camptonblack;
				color: $color-teal;
			}
			&:first-child {
				display: block;
				.name {
					@include font-size(2.4);
					@include line-height(2.8);
				}
			}
			&:nth-child(2) {
				display: block;
				opacity: .9;
			}
			&:nth-child(3) {
				display: block;
				opacity: .7;
			}
			&:nth-child(4) {
				display: block;
				opacity: .5;
			}
			&:nth-child(5) {
				display: block;
				opacity: .3;
			}
			&.today {
				display: block;
				position: absolute;
				top:-140px;
				left:-15px;
				right:0;
				opacity: 1 !important;
				background-color: $color-teal;				
				.birthToday {
				
					.name, .date {
						padding-left: 15px;
						padding-left: 15px;
						@include font-size(2);
						@include line-height(2.4);
					}
					.name {
						padding-top: 20px;
					}
					.date {
						color: black;
						margin-bottom: 20px;
						
					}				
				}
			}

			&.show {
				opacity: 1;
				display: block;
			}
		}
	}
}

/*******************************/
/********  MEDIA QUERIES  ******/
/*******************************/

	

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

	
	h2 {
		text-align: center;
		margin: 0 auto;
	}
	.birthdays {
		text-align: center;
		margin-top: 168px;
		ul {
			li	{
				&.today {
					top:-160px;
				}
			}
		}
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
 
 	h1 {
	 	margin-left: 20px;
 	}
	h2 {
		@include font-size(2.6);
		@include line-height(2.7);
		width:310px;	
	}
	 .logo {
		 margin-top:60px;
		 margin-left: 20px;
	 }
	.birthdays {
		margin-top: 209px;
		ul {
			li {
				&:first-child {
					.name {
						@include font-size(2.4);
						@include line-height(2.8);
					}
				}
				&.today {
					top:-160px;
					.birthToday {
						.name {
							@include font-size(2);
							@include line-height(2.2);
							padding-bottom: 10px;
							padding-top: 48px;
						}
						.date {
							padding-bottom: 35px;
							@include font-size(1.8);
							@include line-height(2);
						}
					}
				}
				
			}
		}
		&.got-birthdaytoday {
			margin-top: 450px;
			ul {
				li {
					top: -245px;
					&.today {
						.name, .date {
							@include font-size(2);
							@include line-height(2.2);
						}	
					}
				}
			}
		}
	}
	.show-btn {
		top: 30px;
		right:0;
		right:60px;
		margin: 0 auto;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	
	
	.wrapper {
		width:1200px;
		margin:0 auto;
	}
	h2 {
		width:420px;
		@include font-size(3.6);
		@include line-height(3.7);
		top:150px;
	}

	.birthdays {
		margin-top: 295px;
		ul {
			 li {
				 &:first-child {
					.name {
						@include font-size(3.8);
						@include line-height(3.8);
					}
					.date {
						@include font-size(2.6);
						@include line-height(2.8);
					}
				}
				 .name {
						@include font-size(2);
						@include line-height(2.2); 
				 }
			 }
		}
		&.got-birthdaytoday {
			margin-top: 530px;
			ul {
				li {
					top: -250px;
					&:first-child {
						.name {
							@include font-size(2.8);
							@include line-height(3);
						}
						.date {
							@include font-size(2.2);
							@include line-height(2.4);
						}
					}
					.name {
						@include font-size(2.8);
						@include line-height(3);
					}
					.date {
						@include font-size(2.2);
						@include line-height(2.4);
					}
				}
			}
		}
	}
	
}

/* Max width of site */
@media only screen and (min-width: 1600px) {

}